/* Remove border-radius */
.leaflet-control-layers.leaflet-control,
.leaflet-control-zoom.leaflet-bar.leaflet-control,
.leaflet-bar a:first-child, .leaflet-bar a:last-child {
  border-radius: 0 !important;
}


/* Site style */
html, body, main, div#react-root, div#react-root > div:nth-child(1) {
  height: 100%;
}
div#page-header {
  width: 100%;
  height: 100%;
}

/* Search style */
/* Modal style */
div.modal-container {
  height: 420px;
}

div.modal-container div.modal-body {
  max-height: 400px
}
/* Form style */
div#search-form form .input-group {
    margin: 15px 0;
}

div#search-form form .form-select {
  width: 300px;
}
