$p-color: #181a34;
$orange: #F0E999;
$spectre: #5764c6;

/* Remove border-radius */
.leaflet-control-layers.leaflet-control,
.leaflet-control-zoom.leaflet-bar.leaflet-control,
.leaflet-bar a:first-child, .leaflet-bar a:last-child {
  border-radius: 0 !important;
}

/* Override spectre style */
.btn-primary {
  background-color: $p-color !important;
}

/* Site style */
html, body, main, div#react-root, div#react-root > div:nth-child(1) {
  height: 100%;
  background-color: $p-color;
}

/* Scroll Arrow */
div.arrow-wrapper {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 500;
  i {
    animation: MoveUpDown 1s linear infinite;
    bottom: 0px;
    position: absolute;
  }
}

div#page-header {
  width: 100%;
  height: 100%;
  div.backgroundImg {
    img.background {
      position: absolute;
      width: 100%;
      height: 30%;
    }
    div.logo-wrapper {
      width: 200px;
      margin: auto;
      padding-top: 20px;
      img {
        z-index: 20;
        position: relative;
        width: 200px;
        height: 151px;
      }
    }
  }
  div.presentation-wrapper {
    background-color: $p-color;
    color: #FFF;
    div.presentation {
      background-color: $p-color;
      color: #FFF;
      padding-top: 60px;
      padding-bottom: 60px;
      div.divider {
        border-color: $orange;
      }
    }
  }
}

div#map-container {
  /* Form style */
  div#search-form {
    transition: all .5s;
    background-color: #FFF;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 500px;

    h2 {
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
    }

    form {
      .input-group {
          margin: 15px 0;
      }
      .form-select {
        width: 300px;
      }
      .input-group-addon {
        background-color: $p-color;
        color: #FFF;
      }
      /* Select2 style */
      .select2.select2-container {
        width: 100% !important;
        .select2-selection.select2-selection--multiple {
          border-color: $p-color;
        }
        .select2-search.select2-search--inline {
          margin-top: 0;
        }
        .select2-results__option[aria-selected=true], .select2-selection__choice {
          background-color: $p-color;
          color: #FFF;
        }
      }
    }
    .empty {
      position: absolute;
      bottom: 0;
      background-color: #dbdbdb;
    }
  }
  div#search-wrapper {
    z-index: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    button#toggle-search {
      transition: all .5s;
      color: #FFF;
      position: absolute;
      left: 30px;
      top: 45%;

      //border-radius: 50%;
      border: none;
      i {
        margin-top: -7px;
      }
    }
  }
}
div#formationModal {
  .modal-header .modal-title {
    color: #FFFFFF;
  }
  div#formation {
    div.logo-wrapper {
      position: relative;
      img {
        display: block;
        max-width:230px;
        max-height:95px;
        width: auto;
        height: auto;
      }
      span.accessible-age {
      }
    }
  }
  div.modal-container {
    div.modal-footer {
      .btn {
        margin-left: 5px;
      }
      .btn.website {
        background-color: #5764c6;
        color: #FFF;
      }
    }
  }
}

@keyframes MoveUpDown {
  0 {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

div.resources {
  background-color: $p-color;
  color: #FFF;
  div.careers, div.web-culture {
    h1 {
      margin-top: 0;
      padding-top: 25px;
    }
  }
}

div.footer {
  border-top: 1px solid $orange;
  background-color: #1A1B1C;
  padding: 10px 0;
  p.headband {
    margin: 0 10px;
    color: $orange;
  }
}

/* Search style */
/* Modal style */
div#search-modal.modal {
  div.modal-container {
    height: 470px;
    div.modal-body {
      max-height: 450px
    }
  }
}

@media screen and (max-height: 515px) {
  div#page-header {
    div.backgroundImg {
      img.background {
        position: absolute;
        width: 100%;
        height: 50%;
      }
      div.logo-wrapper {
        width: 136px;
        margin: auto;
        padding-top: 75px;
        img {
          z-index: 20;
          position: relative;
          width: 136px;
          height: 103px;
        }
      }
    }
    div.presentation-wrapper {
      div.presentation {
        padding-top: 220px;
        padding-bottom: 0;
      }
    }
  }
}

@media screen and (max-height: 550px) {
  div#page-header {
    div.backgroundImg {
      height: 0 !important;
    }
    div.presentation-wrapper {
      div.presentation {
        padding-top: 200px;
        padding-bottom: 0px;
        div.text {
          width: 80% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  div#page-header {
    div.presentation-wrapper {
      h1 {
        padding-top: 0;
      }
      div.text {
        width: 100% !important;
        padding: 5px 0 !important;
      }
    }
  }
}

@media screen and (min-width: 630px) and (max-width: 730px) {
  div#page-header {
    div.presentation-wrapper {
      div.text {
        width: 100% !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
    }
  }
}

@media screen and (min-width: 730px) and (max-width: 900px) {
  div#page-header {
    div.presentation-wrapper {
      div.text {
        width: 100% !important;
      }
    }
  }
}
